

<div class="table">
	<% var i; for (i=0; i < quizes.length; i++) { %>        
	 <div class="item">
	 	<div class="subitem-1">
	 		<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></div>
	 	<div class="subitem-2 soft"><%= quizes[i].tema %></div>

	 	<%if(session.user){%>
	 		<!-- Botones editar y borrar con confirmación -->
		 	<div class="subitem-3">
		 		<a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a>
		 	</div>
			<div class="subitem-4">
		        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
		          <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
		            borrar
		          </button>
		        </form>
		    </div>
		<%}%>
	 </div>
	<% } %>

	<!-- Campo buscar pregunta y botoón de crear pregunta -->
	<div class="item">
		<div class ="subitem-1">
			<br>
			<form action="/quizes" method="GET">
				<input type="text" name="search" id="srch1" value="">
				<input type="submit" value="Buscar">
			</form>
		</div>
		<%if(session.user){%>
			<!-- Botón crear pregunta -->
			<div class="subitem-2">
				<br><a href="/quizes/new"><button type="button">Crear pregunta</button></a>
			</div>
		<%}%>
	</div>

</div>
